<?xml version="1.0" ?>
<robot name="patrolbot" xmlns:xacro="http://ros.org">

<xacro:include filename="$(find patrolbot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find patrolbot_description)/urdf/patrolbot.ros2control" />
<xacro:include filename="$(find patrolbot_description)/urdf/patrolbot.gazebo" />
<link name="base_footprint"/>

<link name="base_link">
  <inertial>
    <origin xyz="-6.001655101174315e-15 -4.8013240809394516e-17 0.11751127858744757" rpy="0 0 0"/>
    <mass value="4.8189925993448215"/>
    <inertia ixx="0.037629" iyy="0.037723" izz="0.034012" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://patrolbot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://patrolbot_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_wheel_1">
  <inertial>
    <origin xyz="-5.790023100122029e-18 -0.012499999999999997 0.0" rpy="0 0 0"/>
    <mass value="0.1826050729899067"/>
    <inertia ixx="0.000124" iyy="0.000228" izz="0.000124" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 0.1 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://patrolbot_description/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 0.1 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://patrolbot_description/meshes/right_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_wheel_1">
  <inertial>
    <origin xyz="1.737006930036608e-17 0.012499999999999997 0.0" rpy="0 0 0"/>
    <mass value="0.18260507298990675"/>
    <inertia ixx="0.000124" iyy="0.000228" izz="0.000124" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.1 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://patrolbot_description/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.1 -0.05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://patrolbot_description/meshes/left_wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="lidar_1">
  <inertial>
    <origin xyz="0.0 0.0 0.010000000000000009" rpy="0 0 0"/>
    <mass value="0.07571360503105627"/>
    <inertia ixx="1.9e-05" iyy="1.9e-05" izz="3.3e-05" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 -0.0 -0.235" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://patrolbot_description/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 -0.0 -0.235" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://patrolbot_description/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="base_joint" type="fixed">
  <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  <parent link="base_footprint"/>
  <child link="base_link"/>
</joint>

<joint name="right_wheel_joint" type="continuous">
  <origin xyz="0.0 -0.1 0.05" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_wheel_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="left_wheel_joint" type="continuous">
  <origin xyz="0.0 0.1 0.05" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_wheel_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="lidar_joint" type="fixed">
  <origin xyz="0.0 0.0 0.235" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="lidar_1"/>
</joint>

</robot>
